{% extends 'base.html.twig' %}

{% block title %}{{blog.title}}{% endblock %}

				{# Affichage d'un article de blog  #}
	{% block body %}
		<section class="heightPage">
			<div class="container">

				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class="messageFlash alert alert-{{ label }} m-0">{{ message }}</div>
					{% endfor %}
				{% endfor %}

				<div class="row">
					<div class="col-md-4 mx-auto mt-5">
						<img src="{{ asset('uploads/article/image/' ~ blog.pictureblog) }}"  class="img-thumbnail">
						{% if is_granted('ROLE_ADMIN') %}
							<a href="{{ path('deleteBlog', {slug: blog.slug}) }}"><i class="fas fa-trash"></i></a>
							<a href="{{ path('updateBlog', {slug: blog.slug}) }}"><i class="fas fa-pencil-alt"></i></a>
						{% endif %}	
					</div>
				</div>
				<div class="row text-center">
					<div class="col-12">
						<h3 class="formTitle">{{ blog.title }}</h3>
						<p class="formPublish">publié le {{ blog.datepost|date('d/m/Y') }} par {{ blog.author }}</p>
					</div>
					<p class="formContent titleQuiz text-left">{{ blog.content }}</p>
				</div>
			</div>
		</section>
	{% endblock %}

